@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #a6a6a6;
    --black: #000;
    --bgBlue: #0047cc;
    --bgPurple: #211048;
}

body {
    background-color: #000;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

button {
    outline: none;
    border: none;
}

.nav-top {
    justify-content: space-between;
}

#hamburger {
    height: 3rem;
}

header {
    padding: 1.5rem;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 70vw;
    top: 0;
    right: 0;
    background-color: /*#0b090a; 0a0908 #0c0f*/   #202020;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    overflow: hidden;
    position: relative;
    height: 0;
  }
  
  nav li {
    list-style-type: none;
    padding-bottom: .7rem;
  }

  nav li > a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }

  nav li > a:hover {
    border-bottom: 3px solid #000;
    text-decoration: none;
  }

  #close-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 1.9rem;
  }

.content {
    margin-top: 7rem;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    line-height: 1.4;
    font-size: 2.4rem;
    margin: 1rem 0;
}

.content button {
    margin-top: 1rem;
}

.content button a{
    color: #fff;
    background-color: var(--black);
    padding: .6rem 1rem;
    font-size: 13px;
    border: 1px solid #fff;
    font-family: 'Inter', sans-serif;
}

#about,
#contact,
#projects,
footer {
    padding: 0 1.5rem;
}

#about {
    margin: 4rem 0;
}

 h2{
    text-align: center;
}

article p {
    margin-top: 1rem;
}

.resume {
    padding: .7rem 1.5rem;
    margin-top: 1.5rem;
}

.skill-wrap {
    margin-top: 3rem;
}

.skills {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#about ul {
    padding-left: 1.5rem;
}

#about ul li {
    color: var(--grey);
    padding-bottom: .5rem;
    font-size: 14px;
}

.blue,
.purple,
.grey,
.white {
    justify-content: center;
    padding: 2rem;
    border-radius: 4px;
}

.blue,
.purple,
.grey {
    height: 17rem;
   /* width: 90%;*/
}

.blue {
    background-color: var(--bgBlue);
}

.white {
    background-color: #fff;
    height: 12rem;
    width: 100%;
    margin: 0 auto;
}

.purple {
    background-color: var(--bgPurple);
}

.grey {
    background-color: var(--grey);
}

#projects h2,
#contact h2 {
    margin-bottom: 3rem;
    font-size: 2.1rem;
}

.portfolio-contents {
    margin-top: 2rem;
}

.portfolio-contents h3 {
    font-weight: 500;
    font-size: 1.7rem;
}

.portfolio-contents p {
    margin: .5rem 0;
    font-size: 14px;
}

.portfolio-contents a,
.hello {
    color: #fff;
    font-size: 17px;
    border-bottom: 2px solid #fff;
}

.portfolio {
    margin-bottom: 5rem;
}

#contact h2 {
    margin-bottom: 2rem;
}

.hello {
    font-size: 16px; 
}

.height1 {
    height: 1.4rem;
}

.social-icon {
    height: 2rem;
}

.connect {
    margin: 4rem 0;
}

.media-wrap img {
    margin-right: 1rem;
}

.logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    margin-right: 1rem;
}

.logo {
    height: 2rem;
}

.line {
    width: auto;
    height: 1px;
    background-color: var(--grey);
}

footer > .flex {
    margin: 2rem 0 1rem;
}

footer p {
    font-size: 12px;
}

@media screen and (min-width: 540px) {
    header {
        padding: 1.5rem 3rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 17px;
    }

    #about,
    #contact,
    #projects,
    footer {
        padding: 0 3rem;
    }

    .portfolio {
        width: 80%;
        margin: 5rem auto;
    }
}

@media screen and (min-width: 720px) {
    header {
        padding: 1.5rem 5rem;
    }
    
    h1 {
        font-size: 2.7rem;
    }

    p {
        font-size: 16px;
    }

    #about,
    #contact,
    footer {
        padding: 0 5rem;
    }

    #projects {
        padding: 0 1.5rem;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 50% 45%;
        align-items: center;
        justify-content: center;
        width: unset;
    }

    .portfolio > .flex {
        margin-right: 2rem;
    }

    #contact > div {
        margin: auto;
        width: 70%;
        
    }

    footer > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }
}