@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #a6a6a6;
    --black: #000;
    --bgBlue: #0047cc;
    --bgPurple: #211048;
}

body {
    background-color: #000;
    font-family: 'Inter', sans-serif;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

button {
    outline: none;
    border: none;
}

.nav-top {
    justify-content: space-between;
}

#hamburger {
    height: 3rem;
}

header {
    padding: 1.5rem;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    background-color: #10101a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    overflow: hidden;
    position: relative;
    height: 0;
  }
  
  nav li {
    list-style-type: none;
    padding-bottom: .7rem;
  }

  nav li > a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }

  nav li > a:hover {
    border-bottom: 3px solid #fff;
    text-decoration: none;
  }

  nav .media-wrap {
      margin-top: 5rem;
  }

  #close-icon {
    position: absolute;
    top: 1.5rem;
    right: 4.5rem;
    height: 1.9rem;
  }

.content {
    margin-top: 7rem;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    line-height: 1.4;
    font-size: 2.6rem;
    margin: 1rem 0 2rem;
}

.content a:hover {
    color: #000;
    background-color: #fff;
}

.content a{
    color: #fff;
    font-size: 14px;
    background-color: var(--black);
    padding: .6rem 1rem;
    border: 1px solid #fff;
    transition: all .7s;
    font-family: 'Inter', sans-serif;
}

.resume-wrap {
    position: absolute;
    right: 0;
    margin: 4rem 0;
}

.resume-wrap a {
    color: var(--grey);
    font-size: 1.8rem;
}

.hr-line {
    background-color: var(--grey);
    height: 2px;
    width: 3rem;
}

#about,
#contact,
#projects,
footer {
    padding: 0 1.5rem;
}

#about {
    margin: 4rem 0 6rem;
}

 h2{
    text-align: center;
}

article p {
    margin-top: 1rem;
}

#projects {
    margin-top: 13rem;
}

.blue,
.purple,
.grey,
.white {
    justify-content: center;
    padding: 2rem;
    border-radius: 4px;
}

.blue,
.purple,
.grey {
    height: 17rem;
   /* width: 90%;*/
}

.blue {
    background-color: var(--bgBlue);
}

.white {
    background-color: #fff;
    height: 12rem;
    width: 100%;
    margin: 0 auto;
}

.purple {
    background-color: var(--bgPurple);
}

.grey {
    background-color: var(--grey);
}

#projects h2,
#contact h2 {
    margin-bottom: 3rem;
    font-size: 2.1rem;
}

#contact > div {
    display: flex;
    justify-content: center;
}

.portfolio-contents {
    margin-top: 2rem;
}

.portfolio-contents h3 {
    font-weight: 500;
    font-size: 1.7rem;
}

.portfolio-contents p {
    margin: .5rem 0;
    font-size: 14px;
}

.portfolio-contents a,
.hello {
    color: #fff;
    font-size: 17px;
    border-bottom: 2px solid #fff;
}

.portfolio {
    margin-bottom: 5rem;
}

#contact h2 {
    margin-bottom: 2rem;
}

.hello {
    font-size: 16px; 
}

.height1 {
    height: 1.4rem;
}

.social-icon {
    height: 1.89rem;
}

.connect {
    margin: 4rem 0;
}

.media-wrap img {
    margin-right: 1rem;
}

.logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    margin-right: 1rem;
}

.logo {
    height: 2rem;
}

.line {
    width: auto;
    height: 1px;
    background-color: var(--grey);
}

footer > .flex {
    margin: 2rem 0 1rem;
}

footer>div {
    margin: 2rem 0;
}

footer p {
    font-size: 12px;
    margin-top: 1rem;
}

@media screen and (min-width: 540px) {
    header {
        padding: 1.5rem 3rem;
    }
    
    h1 {
        font-size: 2.7rem;
    }

    header p {
        font-size: 17px;
    }

    .hr-line {
        width: 5rem;
    }

    #about,
    #contact,
    #projects,
    footer {
        padding: 0 3rem;
    }

    .portfolio {
        width: 80%;
        margin: 5rem auto;
    }
}

@media screen and (min-width: 720px) {
    header {
        padding: 1.5rem 5rem;
        height: 100vh;
    }

    #hamburger,
    #close-icon {
        display: none;
    }

    nav {
        overflow: visible;
        height: 0;
        bottom: 2.3rem;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin-right: 1rem;
    }

    nav .media-wrap {
        margin-top: unset;
    }

    nav > div {
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;
    }
    
    h1 {
        font-size: 2.9rem;
        max-width: 700px;
    }

    p,
    #about ul li {
        font-size: 15px;
    }

    .about-me p {
        text-transform: uppercase;
        font-size: 13px;
    }

    .resume-wrap a {
        font-size: 2rem;
    }

    .hr-line {
        width: 8rem;
    }

    #about,
    #contact,
    footer {
        padding: 0 5rem;
    }

    #projects {
        padding: 0 1.5rem;
    }

    .portfolio {
        display: grid;
        grid-template-columns: 45% 40%;
        align-items: center;
        justify-content: center;
        width: unset;
    }

    .portfolio > .flex{
        margin-right: 2rem;
    }

    .portfolio-contents {
        margin: unset;
    }

    #contact {
        margin-top: 9rem;
    }

    footer > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }

    footer p {
        font-size: 14px;
        margin-top: unset;
    }
}


@media screen and (min-width: 970px) {
    header {
        padding: 1.5rem 9rem;
    }

    .content {
        margin-top: 10rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }

    nav ul li {
        margin-right: 2rem;
    }

    nav li > a {
        font-size: 18px;
    }

    .media-wrap img {
        margin-right: 1.5rem;
    }

    .media-wrap img:hover {
        transform: rotate(-20deg);
    }

    .portfolio {
        grid-template-columns: 38% 35%;
    }

    p {
        font-size: 17px;
    }

    .hr-line {
        width: 11rem;
    }

    .resume-wrap a {
        font-size: 2.4rem;
    }

    .content a{
        font-size: 15px;
        padding: .8rem 1.5rem;
    }

    #projects h2,
    #contact h2 {
        font-size: 2.9rem;
    }

    .portfolio-contents h3 {
        font-size: 2.3rem;
    }

    #about {
        margin: 0 0 15rem 0;
    }

    .about-me p {
        text-transform: uppercase;
        font-size: 15px;
    }

    #about ul li {
        font-size: 17px;
        margin-bottom: 1rem;
    }
    .about-me {
        width: 75%;
        margin: auto;
    }

    .portfolio-contents a {
        font-size: 19px;
    }

    .portfolio-contents p {
        font-size: 15.5px;
        margin: .8rem 0;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
        width: 800px;
    }

    .portfolio {
        grid-template-columns: 33% 30%;
    }

    .portfolio > .flex {
        height: 22rem;
        margin-right: 4rem;
    }

    #contact {
        margin-top: 12rem;
    }

    #about {
        margin: 4rem 0 15rem 0;
    }

    .hr-line {
        width: 19rem;
    }

    .resume-wrap a {
        font-size: 2.7rem;
    }

    .white {
        height: 17rem;
    }

    #projects h2,
    #contact h2 {
        font-size: 3.2rem;
    }

    .portfolio-contents h3 {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 1400px) {
    header,
    main,
    footer {
        max-width: 1320px;
        margin: auto;
    }

    header {
        margin-bottom: 17rem;
        height: unset;
    }
}